.wrapper {
    width: 1320px;
    margin: 0 auto;
}


@media (max-width: 1400px) {
    .wrapper {
        width: 1044px;
    }
}

@media (max-width: 1100px) {
    .wrapper {
        width: 771px;
    }
}

@media (max-width: 850px) {
    .wrapper {
        width: 723px;
    }
}

@media (max-width: 780px) {
    .wrapper {
        width: 474px;
    }
}


@media (max-width: 500px) {
    .wrapper {
        width: 225px;
    }
}

